# HTML Table Scraping API

## Import Libraries

In [1]:
import requests
import numpy as np
import pandas as pd
import json
import webbrowser
from bs4 import BeautifulSoup
from utils import *

## End Point

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

## Request

In [3]:

page = requests.get(url)
req_response(page)

Request Response : 200 OK (Everything works as expected)

## Get Data

In [4]:
# parse document (create BeautifulSoup object)
data = BeautifulSoup(page.text, "html.parser")
print("html document parsed !!! ")

html document parsed !!!

## Format Data

In [5]:
color_code = []
color_name = []
for row in data.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name.append(cols[2].string) # store the value in column 3 as color_name
    color_code.append(cols[3].string) # store the value in column 4 as color_code
    #print("{}--->{}".format(color_name,color_code))

pd.DataFrame({'Color Name':color_name, 'Color_Code':color_code})

        Color Name Color_Code
0       Color Name       None
1      lightsalmon    #FFA07A
2           salmon    #FA8072
3       darksalmon    #E9967A
4       lightcoral    #F08080
5            coral    #FF7F50
6           tomato    #FF6347
7        orangered    #FF4500
8             gold    #FFD700
9           orange    #FFA500
10      darkorange    #FF8C00
11     lightyellow    #FFFFE0
12    lemonchiffon    #FFFACD
13      papayawhip    #FFEFD5
14        moccasin    #FFE4B5
15       peachpuff    #FFDAB9
16   palegoldenrod    #EEE8AA
17           khaki    #F0E68C
18       darkkhaki    #BDB76B
19          yellow    #FFFF00
20       lawngreen    #7CFC00
21      chartreuse    #7FFF00
22       limegreen    #32CD32
23            lime    #00FF00
24     forestgreen    #228B22
25           green    #008000
26      powderblue    #B0E0E6
27       lightblue    #ADD8E6
28    lightskyblue    #87CEFA
29         skyblue    #87CEEB
30     deepskyblue    #00BFFF
31  lightsteelblue    #B0C4DE
32      dodgerblue    #1E90FF

___
My name is **Kiese Diangebeni Reagan** I'm **Data Science Analyst**, technology passionate person, Artificial Intelligence enthusiast and lifelong learner. 

   
|**Let get in touch :**| <a href="https://kiese.tech">www.kiese.tech</a>|<a href="https://github.com/Rekidiang2">GitHub</a>| <a href="https://www.linkedin.com/in/kiese-diangebeni-reagan-82992216a/">Linkedin</a>|<a href="https://twitter.com/ReaganKiese">Twitter</a>|<a href="http://www.facebook.com/reagan.kiese.37">FaceBook</a>|<a href="https://medium.com/@rkddatas">Medium</a>|
|--------------|-----------|-----------|-----------|-----------|-----------|-----------|

---