# Foursquare API

## Import Libraries

In [1]:
import requests
import numpy as np
import pandas as pd
import json
import webbrowser
from bs4 import BeautifulSoup
import random
from utils import *

## End Point

In [2]:
url = 'http://www.imdb.com/chart/top'

## Credential

> No Credential

## Request

In [3]:
response = requests.request("GET", url)
req_response(response)

Request Response : 200 OK (Everything works as expected)

## Get Data

In [4]:
data = BeautifulSoup(response.text, 'html.parser')
#soup = BeautifulSoup(response.text, 'lxml') # faster
#print(soup.prettify())

## Format Data

In [5]:
movietags = data.select('td.titleColumn')
inner_movietags = data.select('td.titleColumn a')
ratingtags = data.select('td.posterColumn span[name=ir]')

In [6]:
def get_year(movie_tag):
        moviesplit = movie_tag.text.split()
        year = moviesplit[-1] # last item 
        return year

In [7]:
years = [get_year(tag) for tag in movietags]
actors_list =[tag['title'] for tag in inner_movietags] # access attribute 'title'
titles = [tag.text for tag in inner_movietags]
ratings = [float(tag['data-value']) for tag in ratingtags] # access attribute 'data-value'

In [8]:
pd.DataFrame({"Title":titles, "Realease Year":years[0], "Actors":actors_list, "Ratings":ratings})

,Title,Realease Year,Actors,Ratings
0,The Shawshank Redemption,(1994),"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.233448
1,The Godfather,(1994),"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.155414
2,The Dark Knight,(1994),"Christopher Nolan (dir.), Christian Bale, Heat...",8.984255
3,The Godfather: Part II,(1994),"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.983711
4,12 Angry Men,(1994),"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.946397
...,...,...,...,...
245,The Batman,(1994),"Matt Reeves (dir.), Robert Pattinson, Zoë Kravitz",8.005871
246,The Help,(1994),"Tate Taylor (dir.), Emma Stone, Viola Davis",8.004953
247,Beauty and the Beast,(1994),"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",8.004444
248,Du rififi chez les hommes,(1994),"Jules Dassin (dir.), Jean Servais, Carl Möhner",8.002240
249,Dances with Wolves,(1994),"Kevin Costner (dir.), Kevin Costner, Mary McDo...",8.001577

___

In [9]:
n_movies = len(titles)

while(True):
    idx = random.randrange(0, n_movies)
    
    print('----'*10)
    print(f"Title : {titles[idx]}\nRelease Year :{years[idx]}\nRating: {ratings[idx]:.1f}\nStarring: {actors_list[idx]}")
    print('----'*10)

    user_input = input('Do you want another movie (y/[n])?\n\n ')
    if user_input != 'y':
        break

----------------------------------------
Title : Mr. Smith Goes to Washington
Release Year :(1939)
Rating: 8.1
Starring: Frank Capra (dir.), James Stewart, Jean Arthur
----------------------------------------

___
My name is **Kiese Diangebeni Reagan** I'm **Data Science Analyst**, technology passionate person, Artificial Intelligence enthusiast and lifelong learner. 

   
|**Let get in touch :**| <a href="https://kiese.tech">www.kiese.tech</a>|<a href="https://github.com/Rekidiang2">GitHub</a>| <a href="https://www.linkedin.com/in/kiese-diangebeni-reagan-82992216a/">Linkedin</a>|<a href="https://twitter.com/ReaganKiese">Twitter</a>|<a href="http://www.facebook.com/reagan.kiese.37">FaceBook</a>|<a href="https://medium.com/@rkddatas">Medium</a>|
|--------------|-----------|-----------|-----------|-----------|-----------|-----------|

---