# Webscraping

### HTML of a basic web page

0. Web Page
1. Composition of an HTML Tag; 
2. HTML Trees; 
3. HTML Tables. 
4. Webscraping

### 0. Web page

```html

<!DOCTYPE html>
<html>
    <head>a
        <title>players salary</title>
    </head>
    <body>
        <h3><b id='boldest'>Luyeye kola</b></h3>
        <p>salary : $ 123</p>
        <h3>Lomomo kana</h3>
        <p>salary : $ 456</p>
        <h3>Makiadi Zola</h3>
        <p>salary : $ 650</p>
        <h3>Bobo Bonzeke </h3>
        <p>salary : $ 215</p>  

        ta
    </body>
</html>"

```

### 1. Composition of an HTML Tag


<img src="zasset/html_elt.png" alt="drawing" width="600"/>

### 2. HTML Trees


<img src="zasset/html_tree.png" alt="drawing" width="600"/>

### 3. HTML Table

<img src="zasset/html_table.png" alt="drawing" width="600"/>

### 4. Webscraping

In [35]:
web_page = "<!DOCTYPE html><html><head>a<title>players salary</title></head><body><h3><b id='boldest'>Luyeye kola</b></h3><p>salary : $ 123</p>\
           <h3>Lomomo kana</h3><p>salary : $ 456</p><h3>Makiadi Zola</h3><p>salary : $ 650</p><h3>Bobo Bonzeke </h3><p>salary : $ 215</p>/body></html>"

#### Import Libraries

In [36]:
import requests
from bs4 import BeautifulSoup

html document parsed !!!

#### Parse web page

In [61]:
# local html file
url = "html.html"
html = open(url, "r").read()

#request web page
url = "https://www.bing.com/search?q=html5lib&qs=n&form=QBRE&sp=-1&pq=html5lib&sc=8-8&sk=&cvid=5C214ED170CB44839480F69A76E3E935"
page = requests.get(url).text

# parse document (create BeautifulSoup object)
soup = BeautifulSoup(html, "html.parser")
print("html document parsed !!! ")

html document parsed !!!

####  Display the HTML in the nested structure

In [ ]:
#print(soup.prettify())

#### Tag

In [63]:
tag_object1=soup.title
tag_object=soup.h3

print("tag object:",tag_object)

tag object: <h3><b id="boldest">Luyeye kola</b></h3>

#### Tag child, Tag parent, Tag sigling,

Tag Child

In [64]:

tag_child = tag_object.b
print(tag_child)

<b id="boldest">Luyeye kola</b>

Tag Parent

In [66]:
# Return object child
tag_parent = tag_child.parent
print(tag_parent)

<h3><b id="boldest">Luyeye kola</b></h3>

Tag Sibling

In [72]:
# Return parent tag
tag_sibling1 = tag_object.next_sibling
tag_sibling2 = tag_sibling1.next_sibling
tag_sibling3 = tag_sibling2.next_sibling
print(tag_sibling2)

<p>salary : $ 123</p>

#### HTML Attribute & Navigable Strings

HTML Attribute

In [73]:
tag_attr = tag_child.attrs   #as json
print(tag_attr)

{'id': 'boldest'}

Navigable Strings

In [74]:

tag_content = tag_child.string
print(tag_content)

Luyeye kola

#### Filter

you can use filters to filter based on a tag’s name, it’s attributes, the text of a string, or on some combination of these.

In [77]:
table_rows = soup.find_all(name='tr')
table_rows

[<tr>
 <td>Name</td>
 <td>Age</td>
 <td>Salary</td>
 </tr>,
 <tr>
 <td>Luyeye kola</td>
 <td>26</td>
 <td>$ 123</td>
 </tr>,
 <tr>
 <td>Lomomo kana</td>
 <td>28</td>
 <td>$ 456</td>
 </tr>,
 <tr>
 <td>Makiadi Zola</td>
 <td>31</td>
 <td>$ 650</td>
 </tr>,
 <tr>
 <td>Bobo Bonzeke</td>
 <td>36</td>
 <td>$ 215</td>
 </tr>]

In [78]:
first_row = table_rows[1]
first_row

<tr>
<td>Luyeye kola</td>
<td>26</td>
<td>$ 123</td>
</tr>

In [79]:
# first table cell
first_row.td

In [81]:
# iterate through each table cell
for i, row in enumerate(table_rows):
    print("row", i, "is\n", row)

row 0 is
 <tr>
<td>Name</td>
<td>Age</td>
<td>Salary</td>
</tr>
row 1 is
 <tr>
<td>Luyeye kola</td>
<td>26</td>
<td>$ 123</td>
</tr>
row 2 is
 <tr>
<td>Lomomo kana</td>
<td>28</td>
<td>$ 456</td>
</tr>
row 3 is
 <tr>
<td>Makiadi Zola</td>
<td>31</td>
<td>$ 650</td>
</tr>
row 4 is
 <tr>
<td>Bobo Bonzeke</td>
<td>36</td>
<td>$ 215</td>
</tr>

In [60]:
# iterate through each table cell
for i, row in enumerate(table_rows):
    print("row", i)
    cells=row.find_all("td")

    for j, cell in enumerate(cells):
        print("column", j, "cell", cell)

row 0
column 0 cell <td>Name</td>
column 1 cell <td>Age</td>
column 2 cell <td>Salary</td>
row 1
column 0 cell <td>Luyeye kola</td>
column 1 cell <td>26</td>
column 2 cell <td>$ 123</td>
row 2
column 0 cell <td>Lomomo kana</td>
column 1 cell <td>28</td>
column 2 cell <td>$ 456</td>
row 3
column 0 cell <td>Makiadi Zola</td>
column 1 cell <td>31</td>
column 2 cell <td>$ 650</td>
row 4
column 0 cell <td>Bobo Bonzeke</td>
column 1 cell <td>36</td>
column 2 cell <td>$ 215</td>

In [82]:
list_input=soup.find_all(name=["tr", "td"])
list_input

[<tr>
 <td>Name</td>
 <td>Age</td>
 <td>Salary</td>
 </tr>,
 <td>Name</td>,
 <td>Age</td>,
 <td>Salary</td>,
 <tr>
 <td>Luyeye kola</td>
 <td>26</td>
 <td>$ 123</td>
 </tr>,
 <td>Luyeye kola</td>,
 <td>26</td>,
 <td>$ 123</td>,
 <tr>
 <td>Lomomo kana</td>
 <td>28</td>
 <td>$ 456</td>
 </tr>,
 <td>Lomomo kana</td>,
 <td>28</td>,
 <td>$ 456</td>,
 <tr>
 <td>Makiadi Zola</td>
 <td>31</td>
 <td>$ 650</td>
 </tr>,
 <td>Makiadi Zola</td>,
 <td>31</td>,
 <td>$ 650</td>,
 <tr>
 <td>Bobo Bonzeke</td>
 <td>36</td>
 <td>$ 215</td>
 </tr>,
 <td>Bobo Bonzeke</td>,
 <td>36</td>,
 <td>$ 215</td>]

In [83]:
soup.find_all(id="boldest")

Multi Table

%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [84]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [85]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [87]:
# We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>


___
My name is **Kiese Diangebeni Reagan** I'm **Data Science Analyst**, technology passionate person, Artificial Intelligence enthusiast and lifelong learner. 

   
|**Let get in touch :**| <a href="https://kiese.tech">www.kiese.tech</a>|<a href="https://github.com/Rekidiang2">GitHub</a>| <a href="https://www.linkedin.com/in/kiese-diangebeni-reagan-82992216a/">Linkedin</a>|<a href="https://twitter.com/ReaganKiese">Twitter</a>|<a href="http://www.facebook.com/reagan.kiese.37">FaceBook</a>|<a href="https://medium.com/@rkddatas">Medium</a>|
|--------------|-----------|-----------|-----------|-----------|-----------|-----------|

---