# Foursquare API

## Import Libraries

In [1]:
import requests
import numpy as np
import pandas as pd
import json
import webbrowser

## End Point

In [2]:
url = "https://api.foursquare.com/v3/places/search"
webbrowser.open(url)

True

## Credential

In [3]:
CLIENT_ID =  'P2LBIMCSKEZQT3FFV4KL0LHRCWD210CYQBDXZSUH1E5RQ1FT'
CLIENT_SECRET = 'CWIPRLW4V1K3AJ3CGKFDFKEEPUKCYCWB3GRVNTDZ5APY1SKL'
VERSION = '20200605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value
ACCESS_TOKEN = '' # The obtained ACCESS_TOKEN
API_KEY = 'fsq3iDEJ5B2/+BF7ogP1ejAPVptLqWJZ+JH5MoK5kIvM7pE='

## Request

In [4]:
def req_response(response):
	resp = int(str(response)[11:14])
	code = [200, 400, 401, 403, 404, 405, 409]
	mean = ['OK', 'Bad Request', 'Unauthorized', 'Forbidden', 'Not Found', 'Method Not Allowed', 'Conflict',  'Internal Server Error']
	descript = ['Everything works as expected', 
				'Any case where a parameter is invalid, or a required parameter is missing.',
				'Invalid request token',
				'The requested information is restricted',
				'Endpoint does not exist.',
				'Attempting to use POST with a GET-only endpoint, or vice-versa.',
				'The request could not be completed as it is. Use the information included in the response to modify the request and retry.',
				"Foursquare's servers are unhappy. There is either a bug on our side or there is an outage. The request is probably valid but needs to be retried later."]
	for i in range(len(code)):
		if resp == code[i]:
			print(f"Request Response : {resp} {mean[i]} ({descript[i]})")

## Authentification and  Request

In [6]:
headers = {
    "Accept": "application/json",
   'Accept-Language':'fr',
    "Authorization": API_KEY
}

response = requests.request("GET", url, headers=headers)
req_response(response)

Request Response : 200 OK (Everything works as expected)

## Get Data

In [7]:
data = response.json()

## Format Data

In [8]:
name = []
type = []
adress = []
cross_street = []
city = []
country = []
latitude = []
longitude = []

for i in range(len(data['results'])):
    
    name.append(data['results'][i]['name'])
    type.append(data['results'][i]['categories'][0]['name'])
    adress.append(data['results'][i]['location']['formatted_address'])
    cross_street.append(data['results'][i]['location']['cross_street'])
    city.append(data['results'][i]['location']['locality'])
    country.append(data['results'][i]['location']['country'])
    latitude.append(data['results'][i]['geocodes']['main']['latitude'])
    longitude.append(data['results'][i]['geocodes']['main']['longitude'])

pd.DataFrame({'name':name, 'type':type, 'adress':adress, 'cross_street':cross_street, 
'city':city, 'country':country, 'latitude':latitude, 'longitude':longitude})

,name,type,adress,cross_street,city,country,latitude,longitude
0,New Ice Cream,Café,"Avenue du Port (Boulevard du 30 juin), Kinshasa",Boulevard du 30 juin,Kinshasa,CD,-4.303003,15.308318
1,Cofee N More,Fast Food Restaurant,Kinshasa,,Kinshasa,CD,-4.303056,15.308216
2,Nice Cream,Dessert Shop,Kinshasa,,Kinshasa,CD,-4.303090,15.307759
3,CHA CHA lounge bar,Bar lounge,Kinshasa,,Kinshasa,CD,-4.300890,15.308582
4,Le Chantilly,Café,"Av Lukusa, Kinshasa",,Kinshasa,CD,-4.303780,15.302705
5,Noki Noki,Bar,"Avenue de l'Equateur, 26, Kinshasa",,Kinshasa,CD,-4.302741,15.310521
6,La piscine de l'Hotel Memling,Swimming Pool,"Avenue Rep Du Tchad (Avenue du Bas Congo), Kin...",Avenue du Bas Congo,"Kinshasa, DRC",CD,-4.304097,15.312343
7,Avenue de la Justice,Arts and Entertainment,"Avenue de la justice, Kinshasa",,Kinshasa,CD,-4.307206,15.291793
8,Saloon VIP,Bar,Kinshasa,,Kinshasa,CD,-4.304935,15.306130
9,Limoncello,Italian Restaurant,"20 Avenue Tombalbaye, Kinshasa",,Kinshasa,CD,-4.304926,15.314777

___
My name is **Kiese Diangebeni Reagan** I'm **Data Science Analyst**, technology passionate person, Artificial Intelligence enthusiast and lifelong learner. 

   
|**Let get in touch :**| <a href="https://kiese.tech">www.kiese.tech</a>|<a href="https://github.com/Rekidiang2">GitHub</a>| <a href="https://www.linkedin.com/in/kiese-diangebeni-reagan-82992216a/">Linkedin</a>|<a href="https://twitter.com/ReaganKiese">Twitter</a>|<a href="http://www.facebook.com/reagan.kiese.37">FaceBook</a>|<a href="https://medium.com/@rkddatas">Medium</a>|
|--------------|-----------|-----------|-----------|-----------|-----------|-----------|

---